{% extends "temple_auth/new_base.html" %}
{% load static %}
{% block main-content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Expense</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Expense</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}


    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">




<div class="container mt-5">
    <!-- <h2>Edit Offering Item</h2> -->
    <form method="POST" action="{% url 'expense-edit' expense.id %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ expense.id }}">
        <div class="mb-3">
            <label for="itemName" class="form-label">Item</label>
            <input type="text" class="form-control" id="itemName" name="item_name" value="{{ expense.item_name }}" required>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" value="{{ expense.quantity }}" required>
        </div>
        <div class="mb-3">
            <label for="itemPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="itemPrice" name="price" value="{{ expense.price }}" required>
        </div>
        <div class="mb-3">
            <label for="expenseDate" class="form-label">Expense Date</label>
            <input type="date" class="form-control" id="expenseDate" name="expense_date" value="{{ expense.expense_date|date:'Y-m-d' }}" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'expense-list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>


</div>
</div>
</div>
</div>
</section>
</main>
{% endblock %}
