
{% extends "temple_auth/new_base.html" %}
{% load custom_filters %}
{% load static %}

{% block custom-style %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block main-content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Wallet Collection</h1>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-lg border-0 rounded-5 overflow-hidden">
                    <div class="card-header bg-gradient-primary text-white rounded-top-5 p-4">
                        <h5 class="card-title mb-0">Wallet Collection for {{ date }}</h5>
                    </div>
                    <div class="card-body p-4 bg-light">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="counter_cash" class="form-label">Counter Cash</label>
                                {{ form.counter_cash|add_class:"form-control"}}
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3" style="color: rgb(127, 127, 207);">
                                        <label for="coin_1_rupee" class="form-label">1 Rupee Coins</label>
                                        {{ form.coin_1_rupee|add_class:"form-control"}}
                                    </div>
                                    <div class="mb-3" style="color: rgb(127, 127, 207);">
                                        <label for="coin_2_rupees" class="form-label">2 Rupee Coins</label>
                                        {{ form.coin_2_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(127, 127, 207);">
                                        <label for="coin_5_rupees" class="form-label">5 Rupee Coins</label>
                                        {{ form.coin_5_rupees|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3" style="color: rgb(127, 127, 207);">
                                        <label for="coin_10_rupees" class="form-label">10 Rupee Coins</label>
                                        {{ form.coin_10_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(127, 127, 207);">
                                        <label for="coin_20_rupees" class="form-label">20 Rupee Coins</label>
                                        {{ form.coin_20_rupees|add_class:"form-control"}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_1_rupees" class="form-label">1 Rupee Notes</label>
                                        {{ form.note_1_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_5_rupees" class="form-label">5 Rupee Notes</label>
                                        {{ form.note_5_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_10_rupees" class="form-label">10 Rupee Notes</label>
                                        {{ form.note_10_rupees|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_20_rupees" class="form-label">20 Rupee Notes</label>
                                        {{ form.note_20_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_50_rupees" class="form-label">50 Rupee Notes</label>
                                        {{ form.note_50_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_100_rupees" class="form-label">100 Rupee Notes</label>
                                        {{ form.note_100_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_200_rupees" class="form-label">200 Rupee Notes</label>
                                        {{ form.note_200_rupees|add_class:"form-control" }}
                                    </div>
                                    <div class="mb-3" style="color: rgb(206, 96, 22);">
                                        <label for="note_500_rupees" class="form-label">500 Rupee Notes</label>
                                        {{ form.note_500_rupees|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}